header, main, nav, footer, figure, figcaption, aside, section, article
{ 
    display: block; 
    
}

html, body
{
    height: 100%;   
}

body
{

    background-color: #FFFFFF;
    background-image: linear-gradient(to bottom, #66ff33, #000000);
    background-repeat: no-repeat;
    color: #666666;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-attachment: fixed;
}

header
{
    background-color: #000000;
    color: #66ff33;
    background-image: url(binary.jpg);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: right;
    height: 60px;
    text-align: left;
    padding-top: 15px;
}

#wrapper
{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: #FFFFFF;
    min-width: 960px;
    max-width: 2048px;
    box-shadow: 6px 6px #333333;
}

main
{
    background-color: #FFFFFF;
    width: auto;
    height: auto;
    margin-left: 5px;
}

h1
{
    margin-bottom: 0;
    font-family: Georgia, "Times New Roman", serif;
    margin-top: 0px;
}


nav
{
    background-color: #FFFFFF;
    font-weight: bold;
    padding: 10px;
    float: none;
    text-align: center;
    display: flex;
    border-bottom: solid;
}

nav li
{
    display: inline;
    padding: 10px;
    border-right: solid;
}

nav a
{
    text-decoration: none;
}

nav ul a:link
{
    color: #000000;
}

nav ul a:visited
{
    color: #000000;
}

nav ul a:hover
{
    color: #66ff33;
}

nav ul 
{
    margin: 0px;
    padding-left: 0px;
    font-size: 1.2em;
    list-style-type: none;
}

li .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

h2
{
    padding: 10px;
    color: #000000;
    font-family: Georgia, "Times New Roman", serif;
    text-shadow: 1px 1px #CCCCCC;
}

h3
{
    color: #000033;
    font-family: Georgia, "Times New Roman", serif;
}

.top
{
    height: 250px;
    width: 100%;
}

#who
{
    width: 50%;
    float: left;
}

#hacking
{
    width: 50%;
    float: left;
}

.goToPage
{
    text-align: center;
}

#hacking #hack
{
    float: left;
    margin: 20px;
    width: 250px ;
    padding-left: 10px;
}

#commentBox
{
    width: 500px;
    height: 300px;
}



dt
{
    color: #000000;
}

footer
{
    font-size: 75%;
    font-style: italic;
    text-align: center;
    font-family: Georgia, "Times New Roman", serif;
    padding: 20px;
    background-color: #FFFFFF;
    border-top: solid;
    min-width: 960px;
    max-width: 2048px;
    
}

#mobile
{
    display: none;
}

#desktop
{
    display: inline;
}

#contactForm
{
    padding-left: 10px;
}

label
{
    float: left;
    display: block;
    text-align: right;
    width: 120px;
    padding-right: 10px;
}

input, textarea
{
    margin-bottom: 20px;
}

input[type="submit"]
{
    margin-left: 130px;
}

#webdevpic
{
    float:left;
    padding: 15px;
}

#webdevtext
{
    height: 250px;
}

#map
{
    width: 600px;
    height: 300px;
}

#maptext
{
    text-align: left;
}


#maptable td
{
    text-align: left;
}

#jscode
{
    width: 400px;
    height: 200px;
    padding-left: 150px
}


@media only screen and (max-width: 64em)
{
    body
    {
        background-color: #FFFFFF;
        margin: 0px;
    }
    
    wrapper
    {
        min-width: 0;
        width: auto;
        box-shadow: none;
    }
    
    main
    {
        margin-left: 0px;
    }
    
    nav
    {
        float: none;
        width: auto;
        text-align: center;
        padding: .5em;
    }
    
    nav li
    {
        display: inline;
        padding-bottom: .25em;
        padding-top: .25em;
        padding-left: .75em;
        padding-right: .75em;
    }
    
    footer
    {
        margin-left: 0;
    }
}

@media only screen and (max-width: 37.5em) 
{
    #header
    {
        padding-top: 1em;
    }
    
    main
    {
        padding-bottom: .1em;
        padding-top: .1em;
        padding-left: 1em;
        padding-right: 1em;
        font-size: 90%;
    }
    
    h1
    {
        font-size: 1.5em;
    }
    
    nav
    {
        padding: 0;
    }
    
    nav li
    {
        display: block;
        margin: 0;
        border-bottom: solid 2px #330000;
    }
    
    nav a
    {
        display: block;
    }
    
    #mobile
    {
        display: inline;
    }
    
    #desktop
    {
        display: none;
    }
}